@use "../../../../../assets/scss/mixins" as m;
@use "../../../../../assets/scss/variables" as v;

.account {
  display: flex;
  background-color: v.$color4;
  width: 500px;
  height: 400px;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  .account-login {
    gap: 2rem;
    padding: 2rem;
    text-decoration: none;
  }
}

.bcg {
  background-color: v.$color1;
  margin: 3rem;

  svg {
    background-color: v.$color3;
    width: 6em;
    height: 6em;
    border: 0.5rem solid v.$color4;
    border-radius: 50%;

    position: relative;
    transform: translate(50%, -50%);
  }
}
.account-login {
  text-decoration: none;

  gap: 5rem;
  a {
    display: inline;
    text-decoration: none;
    color: v.$color3;
    font-size: 12px;
  }

  button {
    padding-right: 8.2rem;
    justify-content: center;
    background-color: v.$color3;
    border: none;
    color: v.$color1;
  }
}
